<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <title>CV {{cv.basic_info.name.first_name}} {{cv.basic_info.name.last_name}}</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-3" style="padding-top: 30px">
          <img src="{{cv.basic_info.photo}}" alt="foto" class="img-thumbnail center-block">
        </div>
        <div class="col-xs-9">
        <address>
          <h2>
            {{cv.basic_info.name.first_name}} {{cv.basic_info.name.last_name}}
          </h2>
          <a href="mailto:{{cv.basic_info.email}}">{{cv.basic_info.email}}</a>
        </address>
        <div class="row">
            <div class="col-md-12">
              <ul class="list-group">
                <li class="list-group-item">
                  <h4>Programming</h4>
                {% for skill in cv.skills.programming %}
                  <span class="label label-primary">{{skill}}</span>
                {% endfor %}
                </li>
                <li class="list-group-item">
                  <h4>Databases</h4>
                {% for skill in cv.skills.databases %}
                  <span class="label label-primary">{{skill}}</span>
                {% endfor %}
                </li>
                <li class="list-group-item">
                  <h4>Other</h4>
                {% for skill in cv.skills.other %}
                  <span class="label label-primary">{{skill}}</span>
                {% endfor %}
                </li>
              </ul>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12">
          {% for social in cv.social %}
          <a href="{{social.href}}" class="btn btn-default" role="button" "title"="{{social.name}}"><i class="fa fa-{{social.name|lower}} fa-lg"></i> {{social.name}}</a>
          {% endfor %}
          </div>
        </div>
        </div>
      </div>
      <div class="page-header">
        <h3>Experience <small>Where I worked</small></h3>
      </div>
      <ul class="list-group">
      {% for work in cv.experience.work|sort(attribute="start", reverse=True) %}
        <li class="list-group-item">
          <h4>{{work.title}} <small>{{work.start}}</small> {% if work.end %}<small>{{work.end}}</small>{% endif %}</h4>
          <p>
            {{work.description}}
          </p>
        </li>
      {% endfor %}
      </ul>
      <div class="page-header">
        <h3>Portfolio <small>Some of the things that I did</small></h3>
      </div>
      <ul class="list-group">
      {% for project in cv.projects|sort(attribute="title") %}
        <li class="list-group-item">
          <h4>{{project.title}} <small>as {{ project.job_title }}</small> {% if project.href %}<a href="{{project.href}}" class=""><i class="fa fa-external-link-square"></i></a>{% endif %}</h4>
          <p>
            {{project.description}}
          </p>
          <div class="row">
          <div class="col-md-12">
            {% for tech in project.tech %}
            <span class="label label-primary">{{tech}}</span>
            {% endfor %}
          </div>
          </div>
        </li>
      {% endfor %}
      </ul>
      <div class="page-header">
        <h3>Education <small>Where I did get knowledge</small></h3>
      </div>
      <ul class="list-group">
      {% for education in cv.experience.education|sort(attribute="start", reverse=True) %}
        <li class="list-group-item">
          <h4>{{education.title}} <small>{{education.start}}</small> <small>{{education.end}}</small></h4>
          <p>
            {{education.description}}
          </p>
        </li>
      {% endfor %}
      </ul>
    </div>
  </body>
</html>
